<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<meta name="mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="Keywords" content="mildwall,mild wall,drawing,canvas,hobby,art,social,sns,white board,sketch book,doodle,graffiti,group sketching,sharing art,killing time,monde,papier,dessin,parlette,rolling paper">
<meta property="og:description" name="Description" content="<%= __('head_description')%>">
<meta property="og:title" content="MildWall">
<meta property="og:type" content="website">
<meta property="og:url" content="http://mildwall.com">
<meta property="og:image" content="http://mildwall.com/image/showing_logo.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="573">
<meta property="og:image:height" content="300">
<meta name="naver-site-verification" content="90987e76579c5eceb029904cd75810675d4119a2"/>
<meta name="google-site-verification" content="d9N1BEHd8hrp7OiamBUoJA3TlZ5KVi-xEsmrHkDshvI"/>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">if (typeof jQuery == 'undefined'){document.write(unescape("%3Cscript src='script/jquery.js' type='text/javascript'%3E%3C/script%3E"));}</script>
<script type="text/javascript">if (typeof jQuery.ui == 'undefined'){document.write(unescape("%3Cscript src='script/jquery-ui.js' type='text/javascript'%3E%3C/script%3E"));}</script>
<title>MildWall</title>
